.table>tbody>tr>td{
    vertical-align: middle;
}

.clanMembers td:nth-of-type(4)
{
    background:url(../images/level.png);
    background-size: 36px 36px;
    background-repeat: no-repeat;
    background-position:0 4px;   
    text-align: center;
    width: 36px;
}  

.searchResults td:nth-of-type(5)
{
    background:url(../images/trophies.png);
    background-size: 98px 36px;
    background-repeat: no-repeat;
    background-position:10px 22px;   
    text-align: center;
    width: 106px;
}  