.table>tbody>tr>td{
    vertical-align: middle;
}

.clanMembers td:nth-of-type(3)
{
    background:url(../images/level.png);
    background-size: 36px 36px;
    background-repeat: no-repeat;
    background-position:0 4px;   
    text-align: center;
    width: 36px;
}  

.searchResults td:nth-of-type(4)
{
    background:url(../images/trophies.png);
    background-size: 108px 39px;
    background-repeat: no-repeat;
    background-position:20px 21px;   
    text-align: center;
    width: 125px;
}  

.searchResults td:nth-of-type(2)
{
    width: 40px;
    background-repeat: no-repeat;
    background-position:-5px 0;   
    background-size: 32px;
}

.tableResults
{
    min-width: 410px;
}

.clanLevel
{
    font-family: 'superCellMagic';
    position: absolute;
    top: 10px;
    left:1px;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow:
     0px -1px 0 #000,   
     1px -1px 0 #000,
      1px 0px 0 #000,
      1px 1px 0 #000,
      
      0px 2px 0 #000,    
      1px 2px 0 #000,
     -1px 2px 0 #000,
      
      0px 3px 0 #000,    
      1px 3px 0 #000,
     -1px 3px 0 #000,
      
     -1px 1px 0 #000,
     -1px 0px 0 #000,
    -1px -1px 0 #000;
    font-size: .5em;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#searchClan .input-group-addon{
    padding: 0;
}

.warLogImage
{
    width: 25px;
}

.divA
{  
    position: relative;
    

  background-color : green;
  
    border-radius: 8px 0 8px 8px;
    padding: 8px;
}
.divA::after
{
    border: solid;
    border-color: green transparent;
    border-width: 10px 10px 0 0;
    top: 0;
    right: -10px;
    content: "";
    position: absolute;
    
}

.waiting
{
    background-image: url(../images/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: center;   
}

.player-link{
    color: white;
}
.player-link:hover{
    color: white;
    text-decoration: none;
}
.player-link:visited {
    color: white;
    text-decoration: none;
}
.player-link:active {
    color: white;
    text-decoration: none;
} 
.text-center{
    text-align: center;
}
.achievements-panel{
    height: 200px;
    position: relative;
}
.progress {
    position: relative;
    margin-bottom: 6px;
    border-radius: 6px;
}
.progress span {
    position: absolute;
    display: block;
    width: 100%;
 }
 .bar {
  background-color: green;
  /*height: 100%;*/
} 

.achievements-gradient{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f0f0+0,e8e8e8+40,dcdcdc+100 */
    background: #f0f0f0; /* Old browsers */
    background: -moz-linear-gradient(top, #f0f0f0 0%, #e8e8e8 40%, #dcdcdc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f0f0f0 0%,#e8e8e8 40%,#dcdcdc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f0f0f0 0%,#e8e8e8 40%,#dcdcdc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#dcdcdc',GradientType=0 ); /* IE6-9 */
}

.borderimg { 
    border: 15px solid transparent;
    /*padding: 15px;*/
    -webkit-border-image: url(../images/achievbg.png) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(../images/achievbg.png) 30 round; /* Opera 11-12.1 */
    border-image: url(../images/achievbg.png) 30 round;
    background: transparent;
}

.bold-text{
    font-weight: bold;
}

.stars {
    position: absolute;
    top: -150px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 140px;
    opacity: 0.9;
}

.troops {
    position: absolute;
    top: 0px;
    left: -40px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    /*width: 140px;*/
    height: 200px;
    /*opacity: 0.75;*/
}
.troops-panel{
    height: 200px;
    position: relative;
    background: transparent;
    border: 0;
    box-shadow: 6px 6px 5px #888888;
    border-radius: 12px;
}

.troops-bg{
    /*background-image: url(../images/barbarian.png);*/
    background-position: center; 
    background-repeat: no-repeat;
}

.troops-gradient{
    background: lightblue;
    background: -webkit-radial-gradient(cyan, blue);
    background: -o-radial-gradient(cyan, blue); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradien(cyan, blue); /* For Firefox 3.6 to 15 */
    background: radial-gradient(cyan, blue);/* Standard syntax */
    border-radius: 12px;
}

.level-max{
    background-image: url(../images/levelbgmax.png) !important;
}

.troop-level{
    position: absolute;
    right: 16px;
    bottom: 4px;
    background-image: url(../images/levelbg.png);
    background-position: center; 
    font-size: 24px;
    text-align: center;
    width: 31px;
    height: 36px;
}